.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 11px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.content-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ai-off {
  color: #a94442;
  font-size: 85%;
}
