.actions {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 11px;
}

a {
  color: var(--mat-sys-primary);
  text-decoration: none;
}

.content-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ai-off {
  color: var(--mat-sys-error);
  font-size: 85%;
}
